.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.iframe {
  display: block;
  background: #000;
  border: none;
  height: 100%;
  width: 100vw;
}
.linkWhite {
  color: #09d3ac;
}
.margintopbottom {
  margin-top: 7px;
  margin-bottom: 7px;
}
.tdWidth {
  min-width: 60px;
}
.marginBottomApp {
}
.tooltip-wrap {
  z-index: 6000;
}

.chart {
  min-height: 300px;
  width: 100%;
}
